{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<form action="/login" method="POST">
  <legend>WiFi Password</legend>
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Ok">
</form>
{% endif %}
{% endblock %}
